{% extends "base.html" %}
{% block content %}
<h2>About Page</h2>
<p>
    The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
    recapturing
    his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when Smaug came and
    took it.)
    Remembering that he had once known an adventurous Hobbit on his travels in the Shire, Gandalf decided to add Bilbo
    to their company
    because he knew that stealth and cunning were preferable to force. Gandalf also believed that someone like Bilbo
    could keep the
    sometimes prideful and stubborn Dwarves from rash action. The superstitious Dwarves also considered thirteen to be
    an unlucky number,
    and as Gandalf had planned to leave on other business, welcomed a fourteenth to fill into their party.
</p>


<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>
            Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
            youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA
            2770. While in exile,
            he quickly grew to become a capable warrior. This was demonstrated when he participated in the Battle of
            Azanulbizar in TA
            2799. He fought with one of the Dwarven armies beneath the East-gate of Moria. At some point in the
            fighting, his shield
            broke, and using an oaken tree branch found on the ground as a shield, he gained the epithet
            "Oakenshield," which would remain with him even in death.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg"
            alt="Thorin Oakenshield with his sword">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg"
            alt="Fili and Kili back to back">
    </div>
    <div class="col-md-7">
        <h3>Fili and Kili</h3>
        <p>
            Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also
            nephews of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing
            feature was his long nose, the longest of any of the Dwarves in Thorin's company.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Oin</h3>
        <p>
            Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. Óin's uncle was Fundin,
            the father of Balin and Dwalin. He usually wore a brown-hooded cloak when travelling. Óin fought in the
            Battle of Azanulbizar along with Thorin Oakenshield, and in TA 2941 joined with Thorin and Company on the
            quest to reclaim the Lonely Mountain wearing a brown hood.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/4/4b/Oinstaff.jpg" alt="Oin with his staff">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/f/fc/Gloin_2.jpg" alt="Gloin standing with his axe">
    </div>
    <div class="col-md-7">
        <h3>Gloin</h3>
        <p>
            Glóin was born in TA 2783, after the dragon Smaug desolated Erebor. He was the younger child of Gróin and
            younger brother of Óin. In TA 2799, Glóin was known to have fought in the Battle of Azanulbizar, the last
            battle of the War of the Dwarves and Orcs, though it is unknown how significant his contribution was, being
            16 years old. In TA 2879, in the Blue Mountains, while in exile, his son Gimli was born to him and an
            unknown wife. In March of TA 2941 in Bree, Thorin Oakenshield met by chance the wizard Gandalf the Grey,
            pushing Thorin to reclaim Erebor, so that Smaug wouldn't ally with Sauron. When Gandalf mentioned Hobbits,
            Glóin referred them as "simpletons" and also said that Hobbits "would never dare to come within smelling
            distance of the nakedest dragonet new from the shell".
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Balin</h3>
        <p>
            Balin was likely born in the Lonely Mountain before the coming of the dragon Smaug. He had a younger brother
            named Dwalin, and was amongst those driven from their homes when Smaug attacked the Lonely Mountain.
            Afterwards, he may have lived in Dunland as a refugee, before fighting in the War of the Dwarves and Orcs
            which culminated in the Battle of Azanulbizar. Many years later, in approximately TA 2841, he accompanied
            Thráin II, the father of Thorin, when he attempted to go back to the Lonely Mountain himself, but Thráin was
            captured and lost.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/5/52/Balin.jpg" alt="Balin posing">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg" alt="Dwalin holding a dagger">
    </div>
    <div class="col-md-7">
        <h3>Dwalin</h3>
        <p>
            Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of Fundin and
            younger brother of Balin. After fighting in the Battle of Azanulbizar at the age of 27, Dwalin accompanied
            Thráin II and Thorin Oakenshield to settle peacefully in the northern Ered Luin.

            Later in TA 2841, Dwalin, along with his brother Balin, and a few others accompanied Thráin when he left the
            Ered Luin on a Quest to reclaim Erebor. The small party was dogged by the emissaries of Sauron. In TA 2845,
            Thráin was captured one night when he and his companions sheltered under the eaves of Mirkwood from a black
            rain. After a fruitless search for their king, the Dwarves gave up and returned to Thorin to inform him the
            news.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Ori</h3>
        <p>
            Ori lived in Thorin's Halls in the northern Blue Mountains for many years. In the year TA 2941, Ori became a
            member of Thorin's Company and travelled with Thorin, Gandalf, Bilbo Baggins, and the other Dwarves on the
            quest for the Lonely Mountain, culminating in the death of Smaug. Finally, he and the other Dwarves of
            Thorin's Company fought in the Battle of Five Armies, which he survived.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg" alt="Balin posing">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/2/27/Mark_Hadlow_as_Dori.jpg" alt="Dori posing">
    </div>
    <div class="col-md-7">
        <h3>Dori</h3>
        <p>
            Before the Quest of Erebor, Dori lived in Thorin's Halls in the northern Blue Mountains with Nori and Ori.
            In TA 2941, the three became part of Thorin and Company, befriending Bilbo Baggins and traveling with him in
            search of Smaug's treasure at the Lonely Mountain.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class=" col-md-7">
        <h3>Nori</h3>
        <p>
            The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's
            interest in recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the
            Mountain when Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his
            travels in the Shire, Gandalf decided to add Bilbo to their company because he knew that stealth and cunning
            were preferable to force. Gandalf also believed that someone like Bilbo could keep the sometimes prideful
            and stubborn Dwarves from rash action. The superstitious Dwarves also considered thirteen to be an unlucky
            number, and as Gandalf had planned to leave on other business, welcomed a fourteenth to fill into their
            party.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/d/db/Nori-jedbrophy-p.jpg" alt="Nori posing">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/7/73/Bifur_2.jpg" alt="Bifur Posing">
    </div>
    <div class="col-md-7">
        <h3>Bifur</h3>
        <p>
            Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not related to the royal House of Durin.
            Most of his familial relations are unclear, and what is known of his parentage is very little. He and his
            family were driven out of their home in the Lonely Mountain by the dragon Smaug, and were forced to live in
            exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a new life at his
            halls in the Blue Mountains, he continued his life as a toy maker.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Bofur</h3>
        <p>
            Bofur was a Dwarf of the late-Third Age. He is best known as a companion of Bilbo Baggins, Thorin
            Oakenshield, and Gandalf on the quest to reclaim the Lonely Mountain from the dragon Smaug, along with his
            brother Bombur and cousin Bifur.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/5/56/Bofur_Nesbitt.jpg" alt="Balin posing">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/e/ed/Bombur.jpg" alt="Large Bombur picturee">
    </div>
    <div class="col-md-7">
        <h3>Bombur</h3>
        <p>Bombur was a Dwarf who accompanied Thorin Oakenshield and Bilbo Baggins on their quest to the Lonely Mountain
            as part of the company, alongside his brother Bofur and cousin Bifur. Bombur was noted as the fattest Dwarf
            in the company.
        </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Bilbo Baggins</h3>
        <p>
            Bilbo Baggins was born on September 22 by Shire Reckoning (around September 12-14 of our calendar), in the
            year 2890 of the Third Age. He was the only son of Bungo Baggins and Belladonna Took.

            In Hobbiton, Bungo Baggins constructed a spacious and luxurious Hobbit-hole for Belladonna, which they named
            Bag End. The family moved to their new home, where Bilbo would spend much of his life.


            A young Bilbo upon first meeting Gandalf

            As a young Hobbit, Bilbo was curious and eager for news of the outside world. The Istar wizard, Gandalf,
            took interest in this unusual quality in Bilbo during his visits to the Shire.
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/b/b6/The_Hobbit_wallpaper_48.jpg"
            alt="Bilbo and his walking stick">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/8/8d/Gandalf-2.jpg" alt="Gandalf posing">
    </div>
    <div class="col-md-7">
        <h3>Gandalf the Grey</h3>
        <p>
            Gandalf the Grey, later known as Gandalf the White, and originally named Olórin (Quenya; IPA: [oˈloːrin]),
            was an Istar (Wizard), dispatched to Middle-earth in the Third Age to combat the threat of Sauron. He joined
            Thorin II Oakenshield and his company to reclaim the Lonely Mountain from Smaug, helped form the Fellowship
            of the Ring to destroy the One Ring, and led the Free Peoples in the final campaign of the War of the Ring.
        </p>
    </div>
</div>

{% endblock %}